<% @page_title = "Entries" %>
<% if @entries.present? %>
<div class="entries-content">
<%= form_tag :search_entries, method: :get do %>
<p><%= text_field_tag "search_form", params[:search_form],:size => 25 %>
<%= submit_tag "検索" %></p>
<% end %>
<%= link_to "サークルを追加する", :new_entry, :class => "pure-button pure-button-error entry-new-button" %>



<table class="pure-table entries-table">
  <thead>
  <tr>
    <th>日</th>
    <th>配置</th>
    <th>サークル名</th>
    <th>作家</th>
    <th>希望数</th>
    <th>頒布物</th>
    <th>価格</th>
　　<th>最終更新日時</th>
  </tr>
  </thead>

  <tbody>
    <script type="text/javascript">
      var entryUrlList = {};
    </script>
  <% @entries.each do |entry| %>
    <script type="text/javascript">
      entryUrlList[<%= entry.id %>] = '<%= entry.circle.circle_urls.count != 0 ? entry.circle.circle_urls[0].page_url: "#" %>';
    </script>
　　<% is_first = true %>
    <% entry.handouts.each do |handout| %>
      <% hcount = entry.handouts.count %>
  <tr class="entry-row entry-<%= entry.id %>">
    <% if is_first == true %>
      <td rowspan="<%= hcount %>"><%= entry.attend_at %></td>
      <td rowspan="<%= hcount %>"><%= entry.place %></td>
      <td rowspan="<%= hcount %>" class="entry-<%= entry.id %>-name"><%= entry.circle.name %></td>
      <td rowspan="<%= hcount %>"><%= entry.circle.author %></td>
    <% end %>
    <td class="<%= is_first ? "" : "extend" %>">
      <% order_quantity = 0 %>
      <% handout.orders.each do |order| %>
        <% order_quantity = order_quantity + order.quantity %>
      <% end %>
      <%= order_quantity %>
    </td>
    <td class="<%= is_first ? "" : "extend" %>">
          <%= handout.goods.name %>
    </td>
    <td class="<%= is_first ? "" : "extend" %>">
          <%= handout.goods.price %>
    </td>
    <% if is_first == true %>
      <td rowspan="<%= hcount %>"><%= entry.goods_updated_at.strftime("%y-%m-%d %H:%M:%S")%></td>
    <% end %>
  </tr>
      <% is_first = false %>
    <% end %>
  <% end %>
  </tbody>
</table>


<script type="text/javascript">
  (function () {
    var entriesList = {};
    $(".entry-row").each(function () {
      var entryId = $(this).attr('class').split(' ')[1].split('-')[1];
      if (entriesList[entryId] == undefined) {
        entriesList[entryId] = [];
      }
      entriesList[entryId].push(this);
    });
    
    for (var key in entriesList) {
      (function (key) {
        var entries = entriesList[key];

        $(".entry-"+key+"-name").hover(
          function () {
            $(".entry-"+key+"-name").addClass("entries-name-selected");
          },
          function () {
            $(".entry-"+key+"-name").removeClass("entries-name-selected");
          }
        );

        $(".entry-"+key+"-name").click(function () {
          window.location = entryUrlList[key];
          return false;
        });


        for (var entryKey in entries) {
          (function (entryKey) {
            var entry = entries[entryKey];
            $(entry).hover(
              function () {
                for (var eKeyTmp in entries) {
                  $(entries[eKeyTmp]).addClass("entries-selected");
                }
              },
              function () {
                for (var eKeyTmp in entries) {
                  $(entries[eKeyTmp]).removeClass("entries-selected");
                }
              }
            );
            $(entry).click(function () {
              window.location = "/entries/"+key;
            });
          })(entryKey)
        }
      })(key)
    }
  })();
</script>


<% else %>
<div class="content">
  <p>サークル情報がありません</p>
<% end %>
</div>

