<% @page_title = "[%s %d日目 %s%s-%s%s] %s" % [@event.name, @entry.attend_at, @map_e_w_j, @block.name, @map_layout.space_number, @entry.sub_place, @entry.circle.name] %>
<div class="header-none">
</div>

<div class="entries-content">
<% if @entry.present? %>
  <%= link_to "編集する", edit_entry_path, :class => "pure-button pure-button-secondary entry-edit-button" %>
  <%= link_to "削除する", entry_path, method: :delete, :class => "pure-button pure-button-error entry-edit-button", confirm: "イベント登録情報を削除しますか？" %>

<%= form_tag update_all_orders_path, :class => "pure-form" do%>
  <input type="hidden" name="entry_id" value="<%= @entry.id %>">

  <table class="pure-table entry-show-table">
    <tbody>
      <tr>
        <th>参加イベント</th>
        <td colspan="4"><%= @event.name %></td>
      </tr>

      <tr>
        <th>参加位置</th>
        <td colspan="4">
          <%= "%d日目 %s%s-%s%s" % [
            @entry.attend_at,
            @map_e_w_j,
            @block.name, 
            @map_layout.space_number,
            @entry.sub_place] %>
        </td>
      </tr>

      <tr>
        <th>サークル名</th>
        <td colspan="4"><%= @entry.circle.name %></td>
      </tr>

      <tr>
        <th>作家</th>
        <td colspan="4"><%= @entry.circle.author %></td>
      </tr>

      <% is_first = true %>
      <% @entry.circle.circle_urls.each do |url| %>
      <tr>
        <% if is_first %>
        <th rowspan="<%= @entry.circle.circle_urls.count %>">URL</th>
        <% is_first = false %>
        <% end %>
        <% if url.is_master_url %>
        <td class="circle-url-master" colspan="4"><a href="<%= url.page_url %>"><%= url.page_url %></a> (master)</td>
        <% else %>
        <td colspan="4"><a href="<%= url.page_url %>"><%= url.page_url %></a></td>
        <% end %>
      </tr>
      <% end %>

      <% ocount = 0 %>
      <% @entry.handouts.each do |handout| %>
      <%   ocount = ocount + handout.orders.count %>
      <%   is_exist_me = false %>
      <%   handout.orders.each do |order| %>
      <%     is_exist_me = true if order.user.id == @current_user.id %>
      <%   end %>
      <%   ocount = ocount + 1 unless is_exist_me %>
      <% end %>
      <% is_first = true %>
      <% @entry.handouts.each do |handout| %>
      <%   is_exist_me = false %>
      <%   handout.orders.each do |order| %>
      <%     is_exist_me = true if order.user.id == @current_user.id %>
      <%   end %>
      <%   is_first_sub = true %>

      <%   unless is_exist_me %>
      <tr>
        <% if is_first %>
        <th rowspan="<%= ocount %>">
          頒布物<br>
          <button type="submit" class="pure-button pure-button-secondary">希望更新</button>
        </th>
        <% is_first = false %>
        <% end %>
        <% if is_first_sub %>
        <td class="handout-name" rowspan="<%= handout.orders.count + 1 %>"><%= handout.goods.name %></td>
        <td class="handout-price" rowspan="<%= handout.orders.count + 1 %>"><%= handout.goods.price %></td>
        <% is_first_sub = false %>
        <% end %>
        <td class="order-name">
          <%= link_to "希望する", create_from_link_orders_path(:handout_id => handout.id, :entry_id => @entry.id), :class => "pure-button pure-button-primary" %>
        </td>
        <td class="order-count">
        </td>
      </tr>
      <%   end %>
 
      <%   handout.orders.each do |order| %>
     <tr>
        <% if is_first %>
        <th rowspan="<%= ocount %>">
          頒布物<br>
          <button type="submit" class="pure-button pure-button-secondary">希望更新</button>
        </th>
        <% is_first = false %>
        <% end %>
        <% if is_first_sub %>
        <td class="handout-name" rowspan="<%= handout.orders.count %>"><%= handout.goods.name %></td>
        <td class="handout-price" rowspan="<%= handout.orders.count %>"><%= handout.goods.price %></td>
        <% is_first_sub = false %>
        <% end %>
        <td class="order-name">
        <%= order.user.name %>
        </td>
        <td class="order-count">
          <% if order.user.id == @current_user.id %>
          <input name="quantity-<%= order.id %>" type="text" value="<%= order.quantity %>" class="pure-u"/>
          <% else %>
          <%= order.quantity %>
          <% end %>
        </td>
      </tr>
      <% end %>
      <% end %>

      <tr>
        <th>更新日時</th>
        <td colspan="4"><%= @entry.goods_updated_at.strftime("%y-%m-%d %H:%M:%S") %></td>
      </tr>

      <tr>
        <th>作成日時</th>
        <td colspan="4"><%= @entry.created_at.strftime("%y-%m-%d %H:%M:%S") %></td>
      </tr>

      <tr>
        <th>更新履歴</th>
        <td colspan="4"></td>
      </tr>


    </tbody>
  </table>

  <% end %>

<% else %>
  <p>サークル情報がありません</p>
<% end %>
</div>

