<% @page_title = "Maps" %>

<div class="header-entries clearfix pure-menu pure-menu-open pure-menu-horizontal entries-index-menu">
  <ul>
    <li class= <%= @day == "1" ? "pure-menu-selected" : "" %> >
      <%= link_to "1日目", maps_path(:day => "1", :area => @area, :subarea => @subarea) %>
    </li>
    <li class= <%= @day == "2" ? "pure-menu-selected" : "" %> >
      <%= link_to "2日目", maps_path(:day => "2", :area => @area, :subarea => @subarea) %>
    </li>
    <li class= <%= @day == "3" ? "pure-menu-selected" : "" %> >
      <%= link_to "3日目", maps_path(:day => "3", :area => @area, :subarea => @subarea) %>
    </li>
  </ul>
  <ul>
    <li class=<%= (@area == "e" and @subarea == "123") ? "pure-menu-selected" : "" %> >
      <%= link_to "東123", maps_path(:day => @day, :area => "e", :subarea => "123") %>
    </li>
    <li class=<%= (@area == "e" and @subarea == "456") ? "pure-menu-selected" : "" %> >
      <%= link_to "東456", maps_path(:day => @day, :area => "e", :subarea => "456") %>
    </li>
    <li class=<%= (@area == "w" and @subarea == "12") ? "pure-menu-selected" : "" %> >
      <%= link_to "西12", maps_path(:day => @day, :area => "w", :subarea => "12") %>
    </li>
  </ul>
</div>


<div class="clearfix">
<div class="map_block">
  <div class="<%= "%s_image_block" % @area %>">
    <%= image_tag "c84_maps/MAP#{@map_id}.PNG" %>
  </div>
  <div class="map_marker_block">
  <% @entries.each do |entry_and_exe_users| %>
    <% entry = entry_and_exe_users["entry"] %>
    <% exe_users = entry_and_exe_users["exe_users"] %>
    <% layout = entry.map_layout %>
    <% unless exe_users.count == 0 %>
    <div class="marker marker_<%= layout["layout"] %>"
      style="left: <%= layout.x %>px; top: <%= layout.y %>px; background-color: <%= exe_users[0].color %>">
    </div>
    <% end %>
  <% end %>
  </div>
</div>
<!--<div class="info_block">-->
  <% @entries.each do |entry_and_exe_users| %>
    <% entry = entry_and_exe_users["entry"] %>
    <% exe_users = entry_and_exe_users["exe_users"] %>
    <% map_layout = entry.map_layout %>
    <% block = map_layout.comiket_block %>
    <% unless exe_users.count == 0 %>
    <div class="info_element"
      style="background-color: <%= exe_users[0].color %>">
      <%= "%s%s-%s%s" % [block.comiket_area.name[0], block.name, map_layout.space_number, entry.sub_place] %>, 
      <%= entry.circle.name %>
    </div>
    <% end %>
  <% end %>
  <!--
  <div class="end_element">
  </div>
</div>
-->
</div>


<!--
<%= link_to "checklistをダウンロードする", checklists_path %>
-->

