<div class="header-none">
</div>

<div class="content">
<%= form_for @user ,:html => {:class => "pure-form pure-form-stacked"} do |form|%>
<fieldset>
  <legend>アカウントの新規登録</legend>
  <%= form.label :login_id, "loginID (ログイン時に使用するID。)" %>
  <%= form.text_field :login_id, placeholder: "loginID" %>
  <%= form.label :name, "Username (表示名。日本語可)" %>
  <%= form.text_field :name, placeholder: "Username" %>
  <%= form.label :password, "Password (ログイン時に使用するパスワード。)" %>
  <%= form.password_field :password, placeholder: "Password", id: "pass_form" %>
  <button type="submit" class="pure-button pure-button-success" id="regist-button">登録する</button>
</fieldset>
<% end %>

</div>

