
<% if @entries.present? %>

<%= will_paginate @entries %>

<table class="pure-table entries-table">
  <thead>
  <tr>
    <th>日</th>
    <th class="place">
      <% if @sort == "place" %>
      <% if @sort_vec == "up" %>
        <%= link_to "配置↑", "%s?%s%ssort=%s&vec=%s" % [request.path_info, @search_text.nil? ? "" : "search_text=%s&" % [@search_text], @day.nil? ? "" : "day=%d&" % [@day], "place", "down"] %>
      <% else %>
        <%= link_to "配置↓", "%s?%s%ssort=%s&vec=%s" % [request.path_info, @search_text.nil? ? "" : "search_text=%s&" % [@search_text], @day.nil? ? "" : "day=%d&" % [@day], "place", "up"] %>
      <% end %>
      <% else %>
        <%= link_to "配置", "%s?%s%ssort=%s&vec=%s" % [request.path_info, @search_text.nil? ? "" : "search_text=%s&" % [@search_text], @day.nil? ? "" : "day=%d&" % [@day], "place", "up"] %>
      <% end %>
    </th>
    <th>
      <% if @sort == "circlename" %>
      <% if @sort_vec == "up" %>
        <%= link_to "サークル名↑", "%s?%s%ssort=%s&vec=%s" % [request.path_info, @search_text.nil? ? "" : "search_text=%s&" % [@search_text], @day.nil? ? "" : "day=%d&" % [@day], "circlename", "down"] %>
      <% else %>
        <%= link_to "サークル名↓", "%s?%s%ssort=%s&vec=%s" % [request.path_info, @search_text.nil? ? "" : "search_text=%s&" % [@search_text], @day.nil? ? "" : "day=%d&" % [@day], "circlename", "up"] %>
      <% end %>
      <% else %>
        <%= link_to "サークル名", "%s?%s%ssort=%s&vec=%s" % [request.path_info, @search_text.nil? ? "" : "search_text=%s&" % [@search_text], @day.nil? ? "" : "day=%d&" % [@day], "circlename", "up"] %>
      <% end %>
    </th>
    <th>作家</th>
    <th>希望数</th>
    <th>頒布物</th>
    <th>価格</th>
    <th>
      <% if @sort == "updatedat" %>
      <% if @sort_vec == "up" %>
        <%= link_to "最終更新日時↑", "%s?%s%ssort=%s&vec=%s" % [request.path_info, @search_text.nil? ? "" : "search_text=%s&" % [@search_text], @day.nil? ? "" : "day=%d&" % [@day], "updatedat", "down"] %>
      <% else %>
        <%= link_to "最終更新日時↓", "%s?%s%ssort=%s&vec=%s" % [request.path_info, @search_text.nil? ? "" : "search_text=%s&" % [@search_text], @day.nil? ? "" : "day=%d&" % [@day], "updatedat", "up"] %>
      <% end %>
      <% else %>
        <%= link_to "最終更新日時", "%s?%s%ssort=%s&vec=%s" % [request.path_info, @search_text.nil? ? "" : "search_text=%s&" % [@search_text], @day.nil? ? "" : "day=%d&" % [@day], "updatedat", "up"] %>
      <% end %>
    </th>
  </tr>
  </thead>

  <tbody>
    <script type="text/javascript">
      var entryUrlList = {};
    </script>
  <% @entries.each do |entry| %>
    <script type="text/javascript">
      <% page_url = "" %>
      <% entry.circle.circle_urls.each do |url|%>
      <%   page_url = url.page_url if url.is_master_url %>
      <% end %>
      entryUrlList[<%= entry.id %>] = '<%= page_url == "" ? "#" :page_url %>';
    </script>
    <% is_first = true %>
    <% if entry.handouts.count == 0 %>
    <tr class="entry-row entry-<%= entry.id %> <%= "entry-pending" if entry.is_pending %>">
      <td class="attend-at"><%= entry.attend_at %></td>
      <td class="place">
        <% block = entry.map_layout.comiket_block %>
        <%= block.comiket_area.name[0] %><%= block.name %>-<%= "%02d" % entry.map_layout.space_number %><%= entry.sub_place %>
      </td>
      <td class="entry-<%= entry.id %>-name"><%= entry.circle.name %></td>
      <td class="entry-circle-author"><%= entry.circle.author %></td>
      <td class="quantity"></td>
      <td class="goodsname"></td>
      <td class="price"></td>
      <td class="updated-at"><%= entry.goods_updated_at.strftime("%y-%m-%d %H:%M:%S")%></td>
    </tr>
    <% else %>
    <% hcount = entry.handouts.length %>
    <% entry.handouts.each do |handout| %>
    <tr class="entry-row entry-<%= entry.id %> <%= "entry-pending" if entry.is_pending %>">
      <% if is_first == true %>
      <td class="attend-at" rowspan="<%= hcount %>"><%= entry.attend_at %></td>
      <td class="place" rowspan="<%= hcount %>">
        <% block = entry.map_layout.comiket_block %>
        <%= block.comiket_area.name[0] %><%= block.name %>-<%= "%02d" % entry.map_layout.space_number %><%= entry.sub_place %>
      </td>
      <td rowspan="<%= hcount %>" class="entry-<%= entry.id %>-name"><%= entry.circle.name %></td>
      <td class="entry-circle-author" rowspan="<%= hcount %>"><%= entry.circle.author %></td>
    <% end %>
      <td class="quantity <%= is_first ? "" : "extend" %>">
        <% order_quantity = 0 %>
        <% handout.orders.each do |order| %>
        <% order_quantity = order_quantity + order.quantity %>
        <% end %>
        <%= order_quantity %>
      </td>
      <td class="goodsname <%= is_first ? "" : "extend" %>">
        <%= handout.goods.name %>
      </td>
      <td class="price <%= is_first ? "" : "extend" %>">
        <%= handout.goods.price %>
      </td>
      <% if is_first == true %>
      <td class="updated-at" rowspan="<%= hcount %>"><%= entry.goods_updated_at.strftime("%y-%m-%d %H:%M:%S")%></td>
      <% end %>
    </tr>
    <% is_first = false %>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @entries %>

<script type="text/javascript">
  (function () {
    var entriesList = {};
    $(".entry-row").each(function () {
      var entryId = $(this).attr('class').split(' ')[1].split('-')[1];
      if (entriesList[entryId] == undefined) {
        entriesList[entryId] = [];
      }
      entriesList[entryId].push(this);
    });
    
    for (var key in entriesList) {
      (function (key) {
        var entries = entriesList[key];
        
        if (entryUrlList[key] != "#") {

          $(".entry-"+key+"-name").hover(
            function () {
              $(".entry-"+key+"-name").addClass("entries-name-selected");
            },
            function () {
              $(".entry-"+key+"-name").removeClass("entries-name-selected");
            }
          );

          $(".entry-"+key+"-name").click(function () {
            window.open(entryUrlList[key]);
            return false;
          });
        }


        for (var entryKey in entries) {
          (function (entryKey) {
            var entry = entries[entryKey];
            $(entry).hover(
              function () {
                for (var eKeyTmp in entries) {
                  $(entries[eKeyTmp]).addClass("entries-selected");
                }
              },
              function () {
                for (var eKeyTmp in entries) {
                  $(entries[eKeyTmp]).removeClass("entries-selected");
                }
              }
            );
            $(entry).click(function () {
              window.location = "/entries/"+key;
            });
          })(entryKey)
        }
      })(key)
    }
  })();
</script>


<% else %>
  <p>サークル情報がありません</p>
<% end %>

