<% @page_title = "登録情報編集 [%s %d日目 %s%s-%s%s] %s" % [@event.name, @entry.attend_at, @map_e_w_j, @block.name, @map_layout.space_number, @entry.sub_place, @entry.circle.name] %>
<div class="header-none">
</div>

<div class="entries-content">
<% if @entry.present? %>
  <strong>注意</strong>：サークル名、作家名、URLに関しては、他のイベントでの情報も変更されます。

  <%= form_tag update_all_admin_entry_path(@entry.id), :class => "pure-form" do%>
  <table class="pure-table entry-show-table">
    <tbody>
      <tr> <th>参加イベント</th> <td colspan="3">
          <select id="event" name="event">
            <% @events.each do |event| %>
            <option value="<%= event.id %>" <%= "selected" if event.id == @event.id%>><%= event.name %></option>
            <% end %>
          </select>
        </td>
      </tr>

      <tr>
        <th>参加位置</th>
        <td colspan="3">

          <select id="day" name="day">
            <% (1..@days).each do |day| %>
            <option value="<%= day %>" <%= "selected" if day == @entry.attend_at%>><%= day %>日目</option>
            <% end %>
          </select>

          <select id="map-e-w" name="map_e_w">
            <option value="e" <%= "selected" if "e" == @block.comiket_area.map_e_w%>>東</option>
            <option value="w" <%= "selected" if "w" == @block.comiket_area.map_e_w%>>西</option>
          </select>

          <select id="block-name" name="block_name">
          </select>

          -

          <input class="sub-place-input" name="space_number" value="<%= @map_layout.space_number %>" />

          <select id="sub-place" name="sub_place">
            <option value="a" <%= "selected" if "a" == @entry.sub_place%>>a</option>
            <option value="b" <%= "selected" if "b" == @entry.sub_place%>>b</option>
          </select>

        </td>
      </tr>

      <tr>
        <th>サークル名</th>
        <td colspan="3">
          <input class="pure-input-1" name="circlename" type="text" value="<%= @entry.circle.name %>"/>
        </td>
      </tr>

      <tr>
        <th>作家</th>
        <td colspan="3">
          <input class="pure-input-1" name="author" type="text" value="<%= @entry.circle.author %>"/>
        </td>
      </tr>


      <tr>
        <th rowspan="<%= @entry.circle.circle_urls.count + 1 %>">URL</th>

        <td class="circle-url-checkbox">
          <%= link_to "追加", circle_urls_path(:entry_id => @entry.id), method: :post, :class => "pure-button pure-button-primary url-destroy-button", confirm: "サークルのURLを追加しますか？" %>
        </td>
        <td class="circle-url-textform">
        </td>
      </tr> 

      <% @entry.circle.circle_urls.each do |url| %>
      <tr>
        <% if url.is_master_url %>
        <td class="circle-url-master circle-url-checkbox">
          <%= link_to "削除", circle_url_path(:id => url.id, :entry_id => @entry.id), method: :delete, :class => "pure-button pure-button-error url-destroy-button", confirm: "サークルのURLを削除しますか？" %>
          <input type="radio" name="masterRadios" value="<%= url.id%>" checked>
          (master)
        </td>
        <td class="circle-url-master circle-url-textform" colspan="2">
          <input class="pure-input-1" name="url-<%= url.id %>" type="text" value="<%= url.page_url %>"/>
        </td>
        <% else %>
        <td class="circle-url-checkbox">
          <%= link_to "削除", circle_url_path(:id => url.id, :entry_id => @entry.id), method: :delete, :class => "pure-button pure-button-error url-destroy-button", confirm: "サークルのURLを削除しますか？" %>
          <input type="radio" name="masterRadios" value="<%= url.id%>">
        </td>
        <td class="circle-url-textform" colspan="2">
          <input class="pure-input-1" name="url-<%= url.id %>" type="text" value="<%= url.page_url %>"/>
        
        </td>
        <% end %>
      </tr>
      <% end %>

      <% ocount = @entry.handouts.count + 1 %>
      <tr>
        <th rowspan="<%= ocount %>">
          頒布物
        </th>
        <td>
          <%= link_to "追加", new_handout_path(:entry_id => @entry.id), :class => "pure-button pure-button-primary url-destroy-button" %>
        </td>
        <td class="handout-name"></td>
        <td class="handout-price"></td>
      </tr>
      <% @entry.handouts.each do |handout| %>
      <tr>
        <td>
          <%= link_to "削除", handout_path(:id => handout.id, :entry_id => @entry.id), method: :delete, :class => "pure-button pure-button-error url-destroy-button", confirm: "頒布物を削除しますか？" %>
        </td>
        <td class="handout-name">
          <input class="pure-input-1" name="handout-<%= handout.id %>" type="text" value="<%= handout.goods.name %>"/>
        </td>
        <td class="handout-price">
          <input name="handoutprice-<%= handout.id %>" type="text" value="<%= handout.goods.price %>"/>
          
        </td>
      </tr>
      <% end %>

    </tbody>
  </table>

  <button type="submit" class="pure-button pure-button-secondary" id="update-entry-button">更新する</button>

  <% end %>

  <script type="text/javascript">
    var blockNames = {e: [
        <% @all_blocks["east"].each do |block| %>
          "<%= block.name %>", 
        <% end %>
        ], w: [
        <% @all_blocks["west"].each do |block| %>
          "<%= block.name %>", 
        <% end %>
        ]};

    $('#map-e-w').change(function () {
      var selectedEW = $('#map-e-w option:selected').val();
      $('#block-name option').remove();
      for (var i=0; i<blockNames[selectedEW].length; i++) {
        (function (i) {
          $('#block-name').append($('<option>'+blockNames[selectedEW][i]+'</option>'));
        })(i)
      }
    });

    var selectedEW = $('#map-e-w option:selected').val();
    for (var i=0; i<blockNames[selectedEW].length; i++) {
      (function (i) {
        if (blockNames[selectedEW][i] == "<%= @block.name %>") {
          $('#block-name').append($('<option selected>'+blockNames[selectedEW][i]+'</option>'));
        } else {
          $('#block-name').append($('<option>'+blockNames[selectedEW][i]+'</option>'));
        }
      })(i)
    }
    

  </script>

<% else %>
  <p>サークル情報がありません</p>
<% end %>
</div>

