<% @page_title = "Entries" %>
<div class="entries-content">

<div class="header-entries clearfix pure-menu pure-menu-open pure-menu-horizontal entries-index-menu">
  <% print_params = {} %>
  <% print_params[:day] = @day unless @day.nil? %>
  <%= link_to "印刷する", printlayout_entries_path(print_params),
    :class => "pure-button pure-button-secondary entry-printlayout-button" %>
  <%= link_to "リストをダウンロードする", downloadlist_entries_path(print_params),
    :class => "pure-button pure-button-secondary entry-printlayout-button" %>
  <%= form_tag search_admin_entries_path, :class => "pure-form entries-searchbox", :method => "get" do%>
    <input name="search_text" class="search_inputbox" type="text" placeholder="">
    <button type="submit" class="pure-button pure-button-success" id="search-button-in-newentry">検索</button>
  <% end %>
</div>


<div class="header-entries clearfix pure-menu pure-menu-open pure-menu-horizontal entries-index-menu">
  <ul>
    <li class= <%= @day == "1" ? "pure-menu-selected" : "" %> >
      <%= link_to "1日目", admin_entries_path(:day => "1") %>
    </li>
    <li class= <%= @day == "2" ? "pure-menu-selected" : "" %> >
      <%= link_to "2日目", admin_entries_path(:day => "2") %>
    </li>
    <li class= <%= @day == "3" ? "pure-menu-selected" : "" %> >
      <%= link_to "3日目", admin_entries_path(:day => "3") %>
    </li>
    <li class= <%= @day.nil? ? "pure-menu-selected" : "" %> >
      <%= link_to "全日程", admin_entries_path %>
    </li>
  </ul>
<%= link_to "サークルをイベントに追加する", new_admin_entry_path(:event_id => @event.id), :class => "pure-button pure-button-primary entry-new-button" %>
</div>

<%= render "shared/admin_entries_list" %>

</div>

