<div class="header-none">
</div>

<div class="entries-content">

  <% if @event.is_inhibit %>
  <%= link_to "書き込みを許可する", stop_to_inhibit_admin_events_path(:id => @event.id), :class => "pure-button pure-button-error entry-edit-button" %>
  <%= link_to "書き込みを禁止する", "#", :class => "pure-button pure-button-disable entry-edit-button" %>
  <% else %>
  <%= link_to "書き込みを許可する", "#", :class => "pure-button pure-button-disable entry-edit-button" %>
  <%= link_to "書き込みを禁止する", inhibit_input_admin_events_path(:id => @event.id), :class => "pure-button pure-button-secondary entry-edit-button" %>
  <% end %>

  <%= form_tag change_permission_admin_user_path, :class => "pure-form" do%>
  <table class="pure-table entries-table admin-user-table">
    <thead>
    <tr>
      <th>ユーザー</th>
      <th>色</th>
      <th>権限</th>
      <th>アカウント削除</th>
    </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
    <tr>
      <td class="name">
        <%= link_to "%s (%s)" % [user.name, user.login_id], entries_user_path(user.login_id) %>
      </td>
      <td class="color">
        <select name="color-<%= user.id %>" style="background-color: <%= user.color %>">
          <% @color_list.each do |color| %>
          <option value="<%= color %>" <%= "selected" if color == user.color %> style="background-color: <%= color %>"><%= color %></option>
          <% end %>
        </select>
      </td>
      <td class="permission">
        <label for="permissionstop-<%=user.id%>" class="pure-radio">
          <input id="permissionstop-<%=user.id%>" type="radio" name="permission-<%=user.id%>" value="stop" <%= "checked" if user.permission == "stop" %>>
          停止中
        </label>
        <label for="permissionrom-<%=user.id%>" class="pure-radio">
          <input id="permissionrom-<%=user.id%>" type="radio" name="permission-<%=user.id%>" value="rom" <%= "checked" if user.permission == "rom" %>>
          ROM
        </label>
        <label for="permissionnormal-<%=user.id%>" class="pure-radio">
          <input id="permissionnormal-<%=user.id%>" type="radio" name="permission-<%=user.id%>" value="normal" <%= "checked" if user.permission == "normal" %>>
          一般ユーザー
        </label>
        <label for="permissionadmin-<%=user.id%>" class="pure-radio">
          <input id="permissionadmin-<%=user.id%>" type="radio" name="permission-<%=user.id%>" value="admin" <%= "checked" if user.permission == "admin" %>>
          管理者
        </label>
      </td>
      <td class="delete">
        <%= link_to "削除", admin_user_path(:id => user.id), method: :delete, :class => "pure-button pure-button-error url-destroy-button", confirm: "ユーザーを削除しますか？" %>
      </td>
    </tr>
      <% end %>
    </tbody>
 
  </table>

  <button type="submit" class="pure-button pure-button-secondary" id="update-entry-button">更新する</button>

  <% end %>


  <script type="text/javascript">
    $('select').change(function () {
      $(this).css('background-color', $(this).val());
    });
  </script>
</div>
