<div class="map_block">
  <div class="map_image_block">
    <%= image_tag "c83_maps/MAP#{@map_id}.PNG" %>
  </div>
  <div class="map_marker_block">
  <% @entries.each do |entry_and_exe_users| %>
    <% entry = entry_and_exe_users["entry"] %>
    <% exe_users = entry_and_exe_users["exe_users"] %>
    <% block_layout = @comiket_layout[entry.place[1]] %>
    <% layout = block_layout[entry.place[-3, 2].to_i] %>
    <div class="marker marker_<%= layout["layout"] %>"
      style="left: <%= layout["x"] %>px; top: <%= layout["y"] %>px; background-color: <%= @user_color[exe_users[0].login_id] %>">
    </div>
  <% end %>
  </div>
</div>
<!--<div class="info_block">-->
  <% @entries.each do |entry_and_exe_users| %>
    <% entry = entry_and_exe_users["entry"] %>
    <% exe_users = entry_and_exe_users["exe_users"] %>
    <div class="info_element"
      style="background-color: <%= @user_color[exe_users[0].login_id] %>">
      <%= entry.place %>, 
      <%= entry.circle.name %>
    </div>
  <% end %>
  <!--
  <div class="end_element">
  </div>
</div>
-->
<div class="end_block">
</div>

<!--
<%= link_to "checklistをダウンロードする", checklists_path %>
-->

